.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    padding: 10px;
    width: 124px;
}

.nav-items {
    padding: 0px 20px;
}
.nav-items > ul {
    display: flex;
    list-style: none;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    margin: 2px;
    width: 200px;
    height: 280px;
    background-color: lightgray;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-card > h3 {
    padding: 1px;
    font-size: 18px;
    margin-top: 1px;
    padding-left: 5px;
}

.res-card > h4 {
    font-size: 14px;
    padding-left: 5px;
}

.res-card > h5 {
    font-size: 12px;
    padding-left: 5px;
}

.res-logo {
    margin: 5px;
    width: 190px;
    height: 120px
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.search {
    padding: 10px;
}

.filter-btn {
    margin: 10px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 2px;
    width: 200px;
    height: 280px;
    background-color: lightgray;
}
